/* * {
    border: 1px dotted red;
} */

/* universal styles */

:root {
    --bgcolor: #9969c7;
    --bordercolor:darkgray;
    --h2: 200%;
    --font: 'Kanit', sans-serif;
    --h1lbs: 500; 
    --h2lbs: 200;
    --plbs: 400;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: var(--font);
}

/* header styling */

header {
   display: flex;
   align-items: center; 
   flex-wrap: wrap;
   justify-content: space-between;
   min-height: 125px;
}

header nav {
    padding:10px;
    margin-right: 3%;
}

header nav a {
    padding: 5px;
    border-bottom: 3px solid black;
    margin: 5px;
    text-decoration: none;
    font-size: 125%;
    color: black;
}



header:hover nav { /* scale the nav bar when mouse is on the header */
    transform: scale(1.1); 
}


header h1 {
    font-size: 350%;
    font-weight: var(--h1lbs);
    padding: .5% 3%;
    border-radius: 0 10px 10px 0;
    border: inset black 3px;
    border-left: none;

/* text gradient kindly borrowed 
from https://cssgradient.io/blog/css-gradient-text/  */

    background: -webkit-linear-gradient(180deg,black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* HERO IMAGE */

.hero {
    background-image: url(../images/placeholder-1440x225.png);
    min-height: 225px;
}

/* "Full Stack Web Developer" sub-heading */

.hero h2 {
    position: relative;
    left: 70%;
    top: 150px;
    display: inline-block;
    font-size: var(--h2);
    background-image: linear-gradient(180deg,#b589d6,#552586);;
    padding: .5%;
    border-radius: 10px;
}

/* Main body section styling */

.section {
    display: inline-block;
    min-height: 25%;
    width: 100%;
    margin: 2%;
}

.section-title {
    font-size: 250%;
    font-weight: var(--h2lbs);
    margin-right: 20px;
    margin-top: 25px;
    text-align: right;
    width: 12%;
    float: left;
    line-height: 125%;

}

.section-content {
    width: 75%;
    display: inline-block;
    border-left: solid black 5px;
}

.section-content p {
    margin: 3%;
    font-weight: var(--plbs);
}

/* "work" section specific styling */

.projectlist {
    margin: 3% 0 3% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin: 3% 3% 3% 0;
    width: 45%;
    height: 200px;
    border: 3px solid black;
    border-radius: 5px;
    float: left;

}

.project:hover {
    filter: none;
    transform: scale(1.05);
}


.project:first-child { /* Targets the first project listed and makes it larger */
    width: 100%;
    height: 400px;
    float: left;
}

.project h3 {
    position: relative;
    top: 50%;
    margin: 20px 20px 20px 0;
    font-size: 200%;
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding: 2% 2% 2% 5%;
    background-image: linear-gradient(180deg,#b589d6,#552586);
    z-index: 1;
    color: black;
}



/* individual projects */

#pre-work {
    background-image: url(../images/prework-study-guide.png);
    background-size: cover;
}



#code-refactor {
    background-image: url(../images/code-refactor.png);
    background-size: cover;
}

#cc-ss {
    background-image: url(../images/cc-ss.png);
    background-size: cover;
}

#cc-html {
    background-image: url(../images/html-cheat-sheet.png);
    background-size: cover;
}


/* footer styling */

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li {
    font-size: 125%;
    padding: 5px;
    display: flex;
    align-items: center;
    min-height: 150px;
    margin: 3%;
}

.links a {
    text-decoration: none;
    border-bottom: 3px solid black;
    padding: 5px;
    color: black;
}

/* links bounce upon hovering */

.links a:hover {
    animation: bounce 1s infinite;
}

/* CSS3 Bounce Animation */
/* Kindly borrowed from Neelam Khan on Stack Overflow.

https://stackoverflow.com/questions/40628410/trying-to-make-a-link-bounce-on-hover */

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}