/* * {
    border: 1px dotted red;
} */

:root {
    --bgcolor: lightgray;
    --bordercolor:darkgray;
    --h2: 200%;
}
/* header styling */

header {
   display: flex;
   align-items: center; 
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: var(--bgcolor);
   min-height: 125px;
}

header nav {
    padding:10px;
    margin-right: 3%;
}

header nav a {
    padding: 5px;
    border-bottom: 3px solid black;
    margin: 5px;
    text-decoration: none;
    font-size: 125%;
}

header h1 {
    font-size: 350%;
    padding: .5% 3%;
    background-color: pink;
}

/* HERO IMAGE */

.hero {
    background-image: url(./images/placeholder-1440x225.png);
    min-height: 225px;
}

/* "Full Stack Web Developer sub-heading */

.hero h2 {
    position: relative;
    left: 70%;
    top: 150px;
    display: inline-block;
    font-size: var(--h2);
    background-color: pink;
    padding: .5%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end ; */
}

/* Main body section styling */

.section {
    display: inline-block;
    min-height: 25%;
    width: 100%;
    margin: 2%;
}

.section-title {
    font-size: 250%;
    /* border-right: solid black 5px; */
    /* margin: 3%; */
    margin-right: 20px;
    margin-top: 25px;
    text-align: right;
    width: 12%;
    float: left;
    line-height: 125%;

}

.section-content {
    width: 75%;
    display: inline-block;
    border-left: solid black 5px;

}

.section-content p {
    margin: 3%;
}

/* footer styling */

footer {

}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li {
    margin: 5%;
    font-size: 125%;
    border-bottom: 3px black solid;
    padding: 5px;
}

.links a {
    text-decoration: none;
}